<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <application>
        <activity android:name="ai.meteor.kcode.plugin.api.PluginWindowActivity"
            android:exported="false" android:theme="@android:style/Theme.Material.Light.NoActionBar" />
        <service android:name="ai.meteor.kcode.plugin.api.PluginForegroundExecutionService"
            android:exported="false" android:foregroundServiceType="dataSync" />
    </application>
</manifest>
